<app-modal [idProduto]="idProduto"></app-modal>

<div [ngClass]="loading.food? 'loading': ''">
    <span></span>
</div>

<!-- Feed de comidas -->
<div class="row comidas mt-5">
    <div class="col-3 mt-2 mb-2" *ngFor="let produto of comidas">
        <div class="card" style="width: 14rem;">
            <div class="card-body">
                <a class="card-title" data-toggle="modal" data-target="#produtoModal" [innerText]="produto.description"
                    [id]="produto.id" (click)="idProduto = $event.target.id">
                </a>
                <p>
                    Porção de
                    <span class="card-text" [innerText]="produto.base_qty"></span>
                    <span class="card-text" [innerText]="produto.base_unit"></span>
                </p>
            </div>
        </div>
    </div>
</div>