@import "../app.component.scss";

#categoria{
    background-color: #f5f5f5;
    font-family: sans-serif;
    padding: 15px 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    z-index: 1000;
    
    ul.menu{
        list-style: none;
        
        li{
            text-align: center !important;
            
            i{
                color: #919191;
                font-size: 1.5em;
            }
            a{
                text-transform: uppercase;
                color: #a8a8a8;
                font-size: 0.7em;
            }
        }
    }
}
.comidas{
    p{
        font-size: 0.8em;
    }
}

.no-display{
    display: none !important;
}
table tbody tr td:nth-child(+n+2){
    text-align: center;
}
.card{
    cursor: pointer !important;
}