<div class="row">
    <div class="col-1" id="categoria">
        <!-- Menu principal -->
        <ul class="menu pl-0">
            <li>
                <i class="fas fa-apple-alt"></i><br>
                <a>Categorias</a>
            </li>
        </ul>
    </div>

    <!-- Submenu -->
    <div class="col col-md-1" id="item-categoria">
        <ul class="pl-0">
            <li class="pt-2 pb-2" *ngFor="let item of categories">
                <a [innerText]="item.category" id="{{ item.id }}" (click)="idCategory($event)"></a>
            </li>
        </ul>
    </div>
</div>