<!-- Menu -->
<div class="row">
    <div class="col-1" id="categoria">
        <!-- Menu principal -->
        <ul class="menu pl-0">
            <li>
                <i class="fas fa-apple-alt"></i><br>
                <a>Categorias</a>
            </li>
        </ul>
    </div>

    <!-- Submenu -->
    <div class="col col-md-1" id="item-categoria">
        <ul class="pl-0">
            <li class="pt-2 pb-2" *ngFor="let item of categorias">
                <a [innerText]="item.category" id="{{ item.id }}" (click)="getIdProduto($event)"></a>
            </li>
        </ul>
    </div>
</div>

<div class="row" class="comidas">
    <div class="jumbotron">
        <h1 class="display-4">Tabela nutricional</h1>
        <p class="lead">A tabela nutricional e seus componentes.</p>
    </div>
    <hr>
    <div class="col-md-4">
        <a class="btn-filter" (click)="toggle()">Filtrar</a>
        <div id="filtrar" [class.no-display]="toggleBtn">
            <p>Filtar por :</p>
        </div>
        <div [class.no-display]="toggleBtn">
            <div class="input-group mb-3">
                <input type="search" class="form-control" placeholder="Digite aqui o seu produto..." maxlength="100"
                    (keyup)="$event.key == 'Enter' && setFilteredProducts($event)" [(ngModel)]="querySearch">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"
                        (click)="setFilteredProducts(querySearch); showSuggestions = true"
                        [disabled]="querySearch.length < 1">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <ul class=""
                *ngIf="showSuggestions && product.filteredProducts.length">
                <li *ngFor="let item of product.filteredProducts | slice:0:20">
                    <a (click)="setProductId(item.id); showSuggestions = false" [innerText]="item.description"></a>
                </li>
            </ul>
        </div>
    </div>
</div>