.loading{
    display: flex;
    justify-content: center;
    width: 100% !important;
    height: 200px;
    background: url(https://static.livup.us/_next/static/img/loading.gif) 50% no-repeat!important;
}