<div class="row">
    <div class="col-1" id="categoria">
        <!-- Menu principal -->
        <ul class="menu pl-0">
            <li>
                <i class="fas fa-apple-alt"></i><br>
                <a>Categorias</a>
            </li>
        </ul>
    </div>

    <!-- Submenu -->
    <div class="col col-md-1" id="item-categoria">
        <ul class="pl-0">
            <li class="pt-2 pb-2" *ngFor="let item of categorias">
                <a [innerText]="item.category" id="{{ item.id }}" (click)="getIdProduto($event)"></a>
            </li>
        </ul>
    </div>
</div>

<!-- Feed de comidas -->
<div class="row" id="comidas">
    <div class="col-3 mt-2 mb-2" *ngFor="let produto of comidas">
        <div class="card" style="width: 14rem;">
            <div class="card-body">
                <a class="card-title" [innerText]="produto.description"></a>
                <p>Porção de
                    <span class="card-text" [innerText]="produto.base_qty"></span>
                    <span class="card-text" [innerText]="produto.base_unit"></span>
                </p>
            </div>
        </div>
    </div>
</div>